body {
  background-color: #ffacec;
  display: flex;
  justify-content: center;
  flex-direction: column;
  column-gap: 100px;
}

button {
  background-color: rgb(164, 249, 158);
  padding: 30px;
  font-size: 20px;
  color: #e320c3;

  border: none;
}

button:hover {
  background-color: pink;
  transition: 0.7s;
}

h1 {
  text-align: center;
  color: #e320c3;
}

#total {
  text-align: center;
  font-size: 30px;
  color: #09421f;
  background-color: #32ca3e;
  padding: 45px;
}
